/****
  * File containing css for education tab
  *
  */

@media (max-width: 699px){
  table {
    width: 100%;
  }

  .image_cell {
    display: none;
  }

  .table_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .table_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .table_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
