/****
  * File containing css for experience tab
  *
  */

.experience_card {
  background-image: url("../images/white_background.jpg");
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px slategrey;
}

.exp_card_header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.exp_card_heading_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.exp_card_heading {
  font-size: x-large;
  margin: 0px;
}

.exp_card_heading_text {
  text-decoration: none;
  color: black;
}

.exp_card_subheading {
  text-decoration: none;
  color: black;
  font-size: large;
  margin: 0px;
}
