/****
  * File containing css for nav and footer
  *
  */

body {
  background-image: url("../images/light_blue_background.jpg");
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#nav {
  color: white;
  background-image: url("../images/dark_blue_background.jpg");
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}

.nav_button {
  background-color: inherit;
  border-width: 2px 2px 0px 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

@media (min-width: 700px){
  #main {
    padding-top: 8%;
  }
}

@media (max-width: 699px){
  #main {
    padding-top: 30%;
  }
}

#footer {
  padding: 10px;
  background-image: url("../images/black_background.jpg");
  width: 100%;
  bottom: 0px;
  color: white;
}

@media (min-width: 700px){
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer_icon {
    margin-right: 5px;
  }

  .footer_text {
    margin-left: 5px;
  }
}

@media (max-width: 699px){
  #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer_icon {
    margin-right: 5px;
  }

  .footer_text {
    display: none;
  }
}
