/****
  * File containing css for project tab
  *
  */

.project_card {
  /* width: 100%; */
  background-image: url("../images/white_background.jpg");
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px slategrey;
}

.project_card_header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

@media (min-width: 700px){
  .project_card_header {
    padding-left: 10px;
  }
}

@media (max-width: 699px){
  .project_card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.project_card_heading {
  font-size: x-large;
  margin: 0px;
}

.project_card_tag_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: #284242;
}

.project_card_tag_text {
  margin: 0px;
  margin-right: 10px;
}

@media (max-width: 699px) {
  .project_card_tag_container {
    display: none;
  }
}

.project_card_body {
  padding-left: 30px;
  padding-right: 30px;
}

.project_card_footer {
  padding-top: 10px;
  border-top: 2px solid black;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.project_card_footer_link {
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
  box-shadow: 2px 2px 2px slategrey;
  background-color: lightblue;
  color: navy;
}
